# Generated datasets and caches are intentionally ignored rather than tracked
# through Git LFS. Keep source data links in data_license.md and build/copy
# local artifacts into data/ or /srv/infermed-data as needed.
